<!DOCTYPE html>
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<head>
    <!-- Basic need -->
    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" th:href="@{/template/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/template/css/main.css}">
    <link rel="stylesheet" th:href="@{/template/css/update.css}">
    <link rel="stylesheet" th:href="@{/template/css/loading.css}">
    <script th:src="@{/template/js/update.js}"></script>
</head>
<body>
<!--preloading-->
<div th:replace="web/fragments/loader :: preloader"></div>
<!--end of preloading-->

<!-- loading page -->
<div th:replace="web/fragments/loader :: loading-page"></div>
<!-- end of loading page -->

<!-- sig in - up -->
<div th:replace="web/fragments/header :: sign-in-up"></div>
<!-- end sig in-up -->

<div th:replace="web/fragments/header :: cart-handle"></div>
<div id="main">

    <!-- BEGIN | Header -->
    <div th:replace="web/fragments/header :: header"></div>
    <!-- END | Header -->

    <div class="hero mv-single-hero" th:style="'background-image: url('+ ${SEASON_MOVIE.photos.get(0)} +');'">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1> movie listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="page-single movie-single movie_single">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="movie-img sticky-sb">
                        <img th:src="${SEASON_MOVIE.thumbnail}" alt="">
                        <div class="movie-btn">
                            <div class="btn-transform transform-vertical red">
                                <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                                <div>
                                    <p th:if="${SEASON_MOVIE.videos == null OR SEASON_MOVIE.videos.empty}" class="item item-2 redbtn fancybox-media hvr-grow" th:text="#{message.UI.value.null}"></p>
                                    <a th:if="${SEASON_MOVIE.videos != null AND !SEASON_MOVIE.videos.empty}" th:href="'https://www.youtube.com/embed/' + ${SEASON_MOVIE.videos.get(0).path}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                                </div>
                            </div>
                            <div class="btn-transform transform-vertical" id="btn-play">
                                <div><a class="item item-1 yellowbtn"></a></div>
                                <div><a class="item item-2 yellowbtn"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct main-content">
                        <h1 class="bd-hd" th:text="${SEASON_MOVIE.title}">Skyfall: Quantum of Spectre <span>2015</span></h1>
                        <div class="social-btn">
                            <div class="parent-btn" id="social-parent-btn"><i class="ion-heart"></i><span th:text="${SEASON_MOVIE.isFav ? 'Added':'Add'} + ' to Favorite'" onclick="favoriteAction(event);">Add to Favorite</span></div>
                            <div class="hover-bnt">
                                <div class="parent-btn"><i class="ion-android-share-alt"></i>share</div>
                                <div class="hvr-item">
                                    <div class="hvr-grow"><i class="ion-social-facebook"></i></div>
                                    <div class="hvr-grow"><i class="ion-social-twitter"></i></div>
                                    <div class="hvr-grow"><i class="ion-social-googleplus"></i></div>
                                    <div class="hvr-grow"><i class="ion-social-youtube"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="movie-rate" >
                            <div class="rate" id="value-rate">
                                <i class="ion-android-star"></i>
                                <p><span th:text="${SEASON_MOVIE.rate.value}"></span> /10<br>
                                    <span class="rv" th:text="${SEASON_MOVIE.rate.numPeople} + ' Reviews'">x Reviews</span>
                                </p>
                            </div>
                            <div class="rate-star" id="star-box">
                                <p>Rate This Movie:  </p>
                                <i class="ion-ios-star" data-value="1"></i>
                                <i class="ion-ios-star" data-value="2"></i>
                                <i class="ion-ios-star" data-value="3"></i>
                                <i class="ion-ios-star" data-value="4"></i>
                                <i class="ion-ios-star" data-value="5"></i>
                                <i class="ion-ios-star" data-value="6"></i>
                                <i class="ion-ios-star" data-value="7"></i>
                                <i class="ion-ios-star" data-value="8"></i>
                                <i class="ion-ios-star" data-value="9"></i>
                                <i class="ion-ios-star" data-value="10"></i>
                            </div>
                        </div>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overview">Overview</a></li>
                                    <li><a href="#reviews"> Reviews</a></li>
                                    <li><a href="#cast">  Cast & Crew </a></li>
                                    <li><a href="#media"> Media</a></li>
                                    <li><a href="#moviesrelated"> Related Movies</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="overview" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <p th:text="${SEASON_MOVIE.summary}">...</p>
                                                <div class="title-hd-sm">
                                                    <h4>Videos & Photos</h4>
                                                    <a href="#" class="time" th:text="'All ' + ${#lists.size(SEASON_MOVIE.videos)} + ' Videos & ' + ${#lists.size(SEASON_MOVIE.photos)} + ' Photos'">...<i class="ion-ios-arrow-right"></i></a>
                                                </div>
                                                <div class="mvsingle-item ov-item">
                                                    <a th:each="PHOTO : ${SEASON_MOVIE.photos}" class="img-lightbox" data-fancybox-group="gallery">
                                                        <img th:src="${PHOTO}" alt="">
                                                    </a>
                                                    <div th:each="VIDEO : ${SEASON_MOVIE.videos}" class="vd-it">
                                                        <img class="vd-img" th:src="${VIDEO.image}" alt="">
                                                        <a class="fancybox-media hvr-grow" href="'https://www.youtube.com/embed/' + VIDEO.path"><img th:src="@{/template/img/uploads/play-vd.png}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="title-hd-sm">
                                                    <h4>cast</h4>
                                                    <a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
                                                </div>
                                                <!-- movie cast -->
                                                <div class="mvcast-item">
                                                    <div th:if="${SEASON_MOVIE.casts == null OR SEASON_MOVIE.casts.empty}" th:remove="tag">
                                                        <p th:text="#{message.UI.value.null}"></p>
                                                    </div>
                                                    <div class="cast-it" th:each="CAST : ${SEASON_MOVIE.casts}">
                                                        <div class="cast-left">
                                                            <img th:src="${CAST.photos} ? ${CAST.photos.get(0)}:''" alt="">
                                                            <a href="#" th:text="${CAST.name}">Robert Downey Jr.</a>
                                                        </div>
                                                        <p>...  Robert Downey Jr.</p>
                                                    </div>
                                                    <div class="title-hd-sm">
                                                        <h4>User reviews</h4>
                                                        <a href="#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                                <!-- movie user review -->
                                                <div class="mv-user-review-item">
                                                    <h3>Best Marvel movie in my opinion</h3>
                                                    <div class="no-star">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i>
                                                    </div>
                                                    <p class="time">
                                                        17 December 2016 by <a href="#"> hawaiipierson</a>
                                                    </p>
                                                    <p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="sb-it">
                                                    <h6>New episode: </h6>
                                                    <div th:if="${SEASON_MOVIE.newEpisode != null}" th:remove="tag">
                                                        <p>
                                                            <nobr th:each="i : ${SEASON_MOVIE.newEpisode}">
                                                                <a th:href="@{'/' + ${SEASON_MOVIE.code} + '/watch/ep-' + ${i}}" th:text="${i}"></a>
                                                            </nobr>
                                                        </p>
                                                    </div>
                                                    <div th:unless="${SEASON_MOVIE.newEpisode != null}" th:remove="tag">
                                                        <p th:text="#{message.UI.value.null}"></p>
                                                    </div>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Duration: </h6>
                                                    <p><a href="#" th:text="${SEASON_MOVIE.duration} ?: #{message.UI.value.null}"></a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Showtime: </h6>
                                                    <p><a href="#" th:text="${SEASON_MOVIE.showtime} ?: #{message.UI.value.null}"></a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Status: </h6>
                                                    <p th:text="${SEASON_MOVIE.status} ?: #{message.UI.value.null}"></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Quality: </h6>
                                                    <p th:text="${SEASON_MOVIE.quality} ?: #{message.UI.value.null}"></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Language: </h6>
                                                    <div th:if="${SEASON_MOVIE.languages == null OR SEASON_MOVIE.languages.empty}" th:remove="tag">
                                                        <p th:text="#{message.UI.value.null}"></p>
                                                    </div>
                                                    <p><div th:each="language : ${SEASON_MOVIE.languages}" th:remove="tag">
                                                        <a href="#" th:text="${language.name}"></a>
                                                        <span>, </span>
                                                    </div></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Director: </h6>
                                                    <div th:if="${SEASON_MOVIE.directors == null OR SEASON_MOVIE.directors.empty}" th:remove="tag">
                                                        <p th:text="#{message.UI.value.null}"></p>
                                                    </div>
                                                    <p><div th:each="director : ${SEASON_MOVIE.directors}" th:remove="tag">
                                                        <a href="#" th:text="${director.name}"></a>
                                                        <span>,</span>
                                                    </div></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Writer: </h6>
                                                    <p><a href="#" th:text="#{message.UI.value.null}"></a></p>
                                                </div>
    <!--                                            <div class="sb-it">-->
    <!--                                                <h6>Stars: </h6>-->
    <!--                                                <p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>-->
    <!--                                            </div>-->
                                                <div class="sb-it">
                                                    <h6>Genres:</h6>
                                                    <div th:if="${SEASON_MOVIE.genres == null}" th:remove="tag">
                                                        <p th:text="#{message.UI.value.null}"></p>
                                                    </div>
                                                    <p>
                                                        <div th:each="genre : ${SEASON_MOVIE.genres}" th:remove="tag">
                                                            <a href="#" th:text="${genre}"></a>
                                                            <span>, </span>
                                                        </div>
                                                    </p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Release Date:</h6>
                                                    <p th:text="${SEASON_MOVIE.release}">...</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Run Time:</h6>
                                                    <p th:text="${SEASON_MOVIE.runtime} ? (${SEASON_MOVIE.runtime} + ' min'): #{message.UI.value.null}"></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Studio: </h6>
                                                    <div th:if="${SEASON_MOVIE.studios == null OR SEASON_MOVIE.studios.empty}">
                                                        <p th:text="#{message.UI.value.null}"></p>
                                                    </div>
                                                    <p>
                                                    <div th:each="studio : ${SEASON_MOVIE.studios}" th:remove="tag">
                                                        <a href="#" th:text="${studio.name}"></a>
                                                        <span>, </span>
                                                    </div>
                                                    </p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>MMPA Rating:</h6>
                                                    <p th:text="${SEASON_MOVIE.runtime} ?: #{message.UI.value.null}"></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Country: </h6>
                                                    <p><a href="#" th:text="${SEASON_MOVIE.country} ? ${SEASON_MOVIE.country.name}:#{message.UI.value.null}"></a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Number of followers: </h6>
                                                    <p><a href="#" th:text="${SEASON_MOVIE.followers}"></a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Plot Keywords:</h6>
                                                    <p class="tags">
                                                        <span class="time"><a href="#">superhero</a></span>
                                                        <span class="time"><a href="#">marvel universe</a></span>
                                                        <span class="time"><a href="#">comic</a></span>
                                                        <span class="time"><a href="#">blockbuster</a></span>
                                                        <span class="time"><a href="#">final battle</a></span>
                                                    </p>
                                                </div>
    <!--                                            <div class="ads">-->
    <!--                                                <img th:src="@{/template/img/uploads/ads1.png}" alt="">-->
    <!--                                            </div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div id="reviews" class="tab review">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div class="div">
                                                    <h3>Related Movies To</h3>
                                                    <h2>Skyfall: Quantum of Spectre</h2>
                                                </div>
                                                <a href="#" class="redbtn">Write Review</a>
                                            </div>
                                            <div class="topbar-filter">
                                                <p>Found <span>56 reviews</span> in total</p>
                                                <label>Filter by:</label>
                                                <select>
                                                    <option value="popularity">Popularity Descending</option>
                                                    <option value="popularity">Popularity Ascending</option>
                                                    <option value="rating">Rating Descending</option>
                                                    <option value="rating">Rating Ascending</option>
                                                    <option value="date">Release date Descending</option>
                                                    <option value="date">Release date Ascending</option>
                                                </select>
                                            </div>
                                            <div class="mv-user-review-item">
                                                <div class="user-infor">
                                                    <img th:src="@{/template/img/uploads/userava1.jpg}" alt="">
                                                    <div>
                                                        <h3>Best Marvel movie in my opinion</h3>
                                                        <div class="no-star">
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star last"></i>
                                                        </div>
                                                        <p class="time">
                                                            17 December 2016 by <a href="#"> hawaiipierson</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cast" class="tab">
                                        <div class="row">
                                            <h3>Cast & Crew of</h3>
                                            <h2>Avengers: Age of Ultron</h2>
                                            <!-- //== -->
                                            <div class="title-hd-sm">
                                                <h4>Directors & Credit Writers</h4>

                                            </div>
                                            <p th:text="#{message.UI.value.null}"></p>
<!--                                            <div class="mvcast-item">-->
<!--                                                <div class="cast-it">-->
<!--                                                    <div class="cast-left">-->
<!--                                                        <h4>JW</h4>-->
<!--                                                        <a href="#">Joss Whedon</a>-->
<!--                                                    </div>-->
<!--                                                    <p>...  Director</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <!-- //== -->
                                            <div class="title-hd-sm">
                                                <h4>Directors & Credit Writers</h4>
                                            </div>
                                            <p th:text="#{message.UI.value.null}"></p>
<!--                                            <div class="mvcast-item">-->
<!--                                                <div class="cast-it">-->
<!--                                                    <div class="cast-left">-->
<!--                                                        <h4>SL</h4>-->
<!--                                                        <a href="#">Stan Lee</a>-->
<!--                                                    </div>-->
<!--                                                    <p>...  (based on Marvel comics)</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <!-- //== -->
                                            <div class="title-hd-sm">
                                                <h4>Cast</h4>
                                            </div>
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <img th:src="@{/template/img/uploads/cast1.jpg}" alt="">
                                                        <a href="#">Robert Downey Jr.</a>
                                                    </div>
                                                    <p>...  Robert Downey Jr.</p>
                                                </div>
                                            </div>
                                            <!-- //== -->
                                            <div class="title-hd-sm">
                                                <h4>Produced by</h4>
                                            </div>
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>VA</h4>
                                                        <a href="#">Victoria Alonso</a>
                                                    </div>
                                                    <p>...  executive producer</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>MB</h4>
                                                        <a href="#">Mitchel Bell</a>
                                                    </div>
                                                    <p>...  co-producer (as Mitch Bell)</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>JC</h4>
                                                        <a href="#">Jamie Christopher</a>
                                                    </div>
                                                    <p>...  associate producer</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>LD</h4>
                                                        <a href="#">Louis D’Esposito</a>
                                                    </div>
                                                    <p>...  executive producer</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>JF</h4>
                                                        <a href="#">Jon Favreau</a>
                                                    </div>
                                                    <p>...  executive producer</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>KF</h4>
                                                        <a href="#">Kevin Feige</a>
                                                    </div>
                                                    <p>...  producer</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>AF</h4>
                                                        <a href="#">Alan Fine</a>
                                                    </div>
                                                    <p>...  executive producer</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <h4>JF</h4>
                                                        <a href="#">Jeffrey Ford</a>
                                                    </div>
                                                    <p>...  associate producer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="media" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Videos & Photos of</h3>
                                                    <h2>Skyfall: Quantum of Spectre</h2>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Videos <span th:text="'(' + ${#lists.size(SEASON_MOVIE.videos)} + ')'">(8)</span></h4>
                                            </div>
                                            <div class="mvsingle-item media-item">
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" th:src="@{/template/img/uploads/vd-item1.jpg}" alt="">
                                                        <a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/o-0hcF97wy0">
                                                            <img th:src="@{/template/img/uploads/play-vd.png}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Photos <span th:text="'(' + ${#lists.size(SEASON_MOVIE.photos)} + ')'"> (21)</span></h4>
                                            </div>
                                            <div class="mvsingle-item">
                                                <a th:each="PHOTO : ${SEASON_MOVIE.photos}" class="img-lightbox" data-fancybox-group="gallery">
                                                    <img th:src="@{PHOTO}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="moviesrelated" class="tab">
                                        <div class="row">
                                            <h3>Related Movies To</h3>
                                            <h2 th:text="${SEASON_MOVIE.title}"></h2>
                                            <div class="topbar-filter">
                                                <p>Found <span th:text="${#lists.size(TVSEASON_RELATE)} + 'movies'"></span> in total</p>
                                                <label>Sort by:</label>
                                                <select>
                                                    <option value="popularity">Popularity Descending</option>
                                                    <option value="popularity">Popularity Ascending</option>
                                                    <option value="rating">Rating Descending</option>
                                                    <option value="rating">Rating Ascending</option>
                                                    <option value="date">Release date Descending</option>
                                                    <option value="date">Release date Ascending</option>
                                                </select>
                                            </div>
                                            <div class="movie-item-style-2" th:each="tvSeason : ${TVSEASON_RELATE}">
                                                <img th:src="${tvSeason.thumbnail}" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a th:href="@{'/' + ${tvSeason.code}}" th:text="${tvSeason.title} ?: #{message.UI.value.null}">oblivion <span th:text="' (' +${tvSeason.year}+ ')'"></span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                                    <p class="describe" th:text="${tvSeason.summary}">...</p>
                                                    <p class="run-time"> Run Time: <span th:text="${tvSeason.runtime} ?: '2h21’'"></span>    .     <span>MMPA: PG-13 </span>    .     <span th:text="'Release: ' + ${tvSeason.release}">...</span></p>
                                                    <p><span th:text="'Languages: ' + ${tvSeason.languages}"></span></p>
                                                    <p>Duration: <a href="#" th:text="${tvSeason.duration} ?: #{message.UI.value.null}">005/???Note</a></p>
                                                    <p>Views: <span th:text="${tvSeason.views} ? ${#numbers.formatInteger(tvSeason.views,3,'POINT')}: #{message.UI.value.null}"></span></p>
                                                </div>
                                            </div>
                                            <div class="topbar-filter">
                                                <label>Movies per page:</label>
                                                <select>
                                                    <option value="2">2 Movies</option>
                                                    <option value="5">5 Movies</option>
                                                </select>
                                                <div class="pagination2" style="display: flex;">
                                                    <span id="page-info">Page 1 of 2:</span>
                                                    <div id="pagination" style="display: flex;">
                                                        <div id="pages"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section-->
    <div th:replace="web/fragments/footer :: footer"></div>
    <!-- end of footer section-->
</div>
<th:block th:replace="web/fragments/header :: script"></th:block>

<script th:inline="javascript">
    var tvSeasonID = [[${SEASON_MOVIE.id}]];
    var starBox = document.getElementById('star-box');
    starBox.querySelectorAll("i").forEach(el => {
        el.addEventListener('click', function(e){
            rateAction(e);
        })
    });
    async function rateAction(e){
        startAnimation();
        const response = await fetch("/MovieWebsite/api/movie/season/rate?" + new URLSearchParams({
            rateVal : e.target.dataset.value,
            tvSeasonId : tvSeasonID
        }),{method: 'PUT'});
        var data = await response.json();
        let valueRate = document.getElementById('value-rate');
        valueRate.innerHTML = `
            <i class="ion-android-star"></i>
            <p><span>`+ data.value +`</span> /10<br>
                <span class="rv">`+ data.numPeople +` Reviews</span>
            </p>
        `;
        stopAnimation();
    };

    function addToCart(movie){
        let items = JSON.parse(sessionStorage.getItem("itemCart"));
		if(items == null) items = [];
		items.push({
		    "id" : movie.id,
		    "title" : movie.title,
		    "thumbnail" : movie.thumbnail,
		    "cost" : movie.cost,
		    "checked" : true
		});
		sessionStorage.setItem("itemCart", JSON.stringify(items));
	}

    window.onload = setPlayMovie();

    function setPlayMovie(){
        var playBtn = document.getElementById('btn-play');
        var frontPlay = playBtn.querySelector('.item-1');
        var backPlay = playBtn.querySelector('.item-2');
        let movie = [[${SEASON_MOVIE}]];
        let isOk = movie.cost == 0 || movie.paid;
        frontPlay.innerHTML = `<i class="ion-card"></i> ` +  (isOk ? 'WATCH NOW':'BUY TICKET');
        backPlay.innerHTML = `<i class="ion-card"></i> `;
        if(!isOk){
            if(isExistItemCart(movie.id)){
                backPlay.innerHTML = `<i class="ion-card"></i> ($` + movie.cost + `) Added To Cart`;
                return;
            }
            backPlay.addEventListener('click', function add(){
                addToCart(movie);
                backPlay.innerHTML = `<i class="ion-card"></i> ($` + movie.cost + `) Added To Cart`;
                backPlay.removeEventListener('click', add);
            });
            backPlay.innerHTML += `($` + movie.cost + `) Add To Cart`;
        }else {
            backPlay.href = '/MovieWebsite/' +movie.code + '/watch/ep-1';
            backPlay.innerHTML += movie.paid ? `Paid`:`Free`;
        }
    }

    function isExistItemCart(value){
        let items = JSON.parse(sessionStorage.getItem('itemCart'));
        if(items == null) return false;
        for(let item of items){
            if(value == item.id) return true;
        }
        return false;
    }


    async function favoriteAction(e){
        startAnimation();
        let targetEl = e.target;
        let requestMethod;
        let isAdd = targetEl.textContent.split(" ")[0].toLowerCase() === 'added';
        if(isAdd) requestMethod = 'DELETE';
        else requestMethod = 'POST';
        let url = "/MovieWebsite/api/user/favorite?tvSeasonId=" + tvSeasonID;
        await fetch(url, {method: requestMethod});
        targetEl.textContent = (isAdd ? 'Add' : 'Added') + " to Favorite";
        stopAnimation();
    }

</script>

</body>
</html>