<!DOCTYPE html>
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<!-- movielist07:38-->
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/template/css/plugins.css}">
	<link rel="stylesheet" th:href="@{/template/css/main.css}">
	<link rel="stylesheet" th:href="@{/template/css/update.css}">

</head>
<body>
<!--preloading-->
<div th:replace="web/fragments/loader :: preloader"></div>
<!--end of preloading-->

<!-- sig in - up -->
<div th:replace="web/fragments/header :: sign-in-up"></div>
<!-- end sig in-up -->

<!-- BEGIN | Header -->
<div th:replace="web/fragments/header :: header"></div>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> movie listing - list</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span id="am-movies-tt" th:text="${PAGINATION.maxItems}"></span> movies in total</p>
					<label>Sort by:</label>
					<select id="field-sort">
						<option value="views-des">Popularity Descending</option>
						<option value="views-asc">Popularity Ascending</option>
						<option value="rating-des">Rating Descending</option>
						<option value="rating-asc">Rating Ascending</option>
					</select>Movies per page:
					<a href="movielist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
					<a  href="moviegrid.html" class="grid"><i class="ion-grid"></i></a>
				</div>
				<div id="season-list">
					<div class="movie-item-style-2" th:each="SEASON : ${SEASONS}">
						<img th:src="@{/template/img/uploads/mv1.jpg}" alt="">
						<div class="mv-item-infor">
							<h6><a th:href="@{'/' + ${SEASON.code}}" th:text="${SEASON.title} ?: #{message.UI.value.null}">oblivion <span>(2012)</span></a></h6>
							<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
							<p class="describe">Earth'sa team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
							<p class="run-time"> Run Time: <span th:text="${SEASON.runtime} ?: '2h21’'"></span>    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
							<p>Duration: <a href="#" th:text="${SEASON.duration} ?: #{message.UI.value.null}">005/???Note</a></p>
							<p>Views: <span th:text="${SEASON.views} ?: #{message.UI.value.null}"></span></p>
						</div>
					</div>
				</div>
				<div class="topbar-filter" id="lower-bound">
					<div class="find-movie" >
						<label>Movies per page:</label>
						<div class="search-page">
							<input type="text" placeholder="page">
							<i class="fa fa-search" aria-hidden="true"></i>
						</div>
					</div>
					<select th:field="${PAGINATION.maxPageItem}" id="max-page-item">
						<option th:value="2">2 Movies</option>
						<option th:value="5">5 Movies</option>
						<option th:value="10">10 Movies</option>
					</select>
					<div class="pagination2" style="display: flex;">
						<span id="page-info">Page 1 of 2:</span>
						<div id="pagination" style="display: flex;">
							<div id="pages"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for movie</h4>
						<form class="form-style-1" id="formSubmit" action="" method="GET">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Movie name</label>
									<input type="text" name="title" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres & Subgenres</label>
									<div class="group-ip">
										<select
											name="genres" id="genres-sl" multiple="multiple" class="ui fluid dropdown">
											<option value="">Enter to filter genres</option>
											<option th:each="GENRE : ${GENRES}" th:value="${GENRE.name}" th:text="${GENRE.name}"></option>
										</select>
									</div>
									
								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>
									
									 <select>
										 <option value="">--below --</option>
										<option value="range">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
									</select>
									
								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
											<select>
												<option value="range">From</option>
												<option value="number">10</option>
												<option value="number">20</option>
												<option value="number">30</option>
											</select>
										</div>
										<div class="col-md-6">
											<select>
												<option value="range">To</option>
												<option value="number">20</option>
												<option value="number">30</option>
												<option value="number">40</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input id="btn-submit" class="submit" type="button" value="submit">
								</div>
							</div>
						</form>
					</div>
					<div class="ads">
						<img th:src="@{/template/img/uploads/ads1.png}" alt="">
					</div>
					<div class="sb-facebook sb-it">
						<h4 class="sb-title">Find us on Facebook</h4>
						<iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"  height="315" style="width:100%;border:none;overflow:hidden" ></iframe>
					</div>
					<div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
						<div class="slick-tw">
							<div class="tweet item" ><!-- Put your twiter id here -->
							</div>
							<div class="tweet item" ><!-- Put your 2nd twiter account id here -->
							</div>
						</div>							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<div th:replace="web/fragments/footer :: footer"></div>
<!-- end of footer section-->

<script th:inline="javascript">

	let formSubmit = document.getElementById('formSubmit');
	let btnSubmit = document.getElementById('btn-submit');
    btnSubmit.addEventListener('click', function(){
    	var maxPageItem = document.getElementById('max-page-item').value;
        getAPI("/MovieWebsite/api/movie/season/filter", '1', maxPageItem);
    })

    async function getAPI(url, nextPage, maxPageItem) {
		let requestForm = document.forms.formSubmit;
		var formData = new FormData(requestForm);

		let genresData = document.getElementById('genres-sl').selectedOptions;
        const response = await fetch(url + "?" + new URLSearchParams({
        	nextPage: nextPage,
        	maxPageItem: maxPageItem,
        	title: formData.get('title'),
        	rating: formData.get('rating'),
        	genres: Array.from(genresData).map(({value}) => value)
        }));

        var data = await response.json();
        show(data);
    }

    function show(data){
		let seasonList = '';
		var host = "/MovieWebsite";
		var updating = [[#{message.UI.value.null}]];
		var pagination = data.pagination;

		for(let SEASON of data.simpleTvSeasons){
			seasonList += `
				<div class="movie-item-style-2">
					<img src="` + host +`/template/img/uploads/mv1.jpg" alt="">
					<div class="mv-item-infor">
						<h6><a href="`+ host +`/` + SEASON.code + `">` + ((SEASON.title != null) ?  SEASON.title : updating)+ `<span>(2012)</span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
						<p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
						<p class="run-time"> Run Time: <span>`+ ((SEASON.runtime != null) ? SEASON.runtime : '2h21’')+`</span>    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
						<p>Duration: <a href="#">`+ ((SEASON.duration != null) ?  SEASON.duration : updating) +`</a></p>
						<p>Views: <span>`+ ((SEASON.views != null) ? SEASON.views : updating) +`</span></p>
					</div>
				</div>
			`;
		}
		document.getElementById('season-list').innerHTML = seasonList;

		document.getElementById('am-movies-tt').innerHTML = pagination.maxItems;

		customPagination(pagination.nextPage, 2, pagination.maxPage);
	}
</script>

<script th:inline="javascript">
	var maxPage = [[${PAGINATION.maxPage}]];
	var currentPage = [[${PAGINATION.nextPage}]];
	customPagination(currentPage, 2, maxPage);
	function customPagination(currentPage, visiblePage, maxPage){
		let boundLower = document.getElementById('lower-bound');
		if (maxPage == 0){
			boundLower.style.display = 'none';
			return;
		}
		boundLower.style.display = 'flex';
		var endPage = visiblePage;
		var startPage = 1;
		document.getElementById('page-info').innerHTML = "Page " + currentPage + " of " + maxPage + ": ";
		let pagination = document.getElementById('pagination');
		pagination.innerHTML = '<div id="pages"></div>';
		let pages = document.getElementById('pages');
<!--		var temp = Math.floor(currentPage / endPage);-->
		var temp = currentPage / endPage;
<!--		if(temp != 0 && temp != 1){ // check currentPage not in 1 to 5 ?-->
		if(temp > 1){ // check currentPage not in 1 to 5 ?
			var temp1 = currentPage % endPage;
			startPage = currentPage - ((temp1 == 0) ? endPage : temp1) + 1; // assign value startPage by currentPage
			if (maxPage - startPage < endPage) { // check exist endPage
				endPage = maxPage;
			}else{
				endPage += startPage - 1;
			}
			pagination.prepend(newElement('a', "next-left","ion-arrow-left-b"));// add icon next left
			nextSubmit("next-left", startPage, endPage);
		}else if(endPage > maxPage){
			endPage = maxPage;
		}
		if(endPage < maxPage){ // check add icon next right
			pagination.appendChild(newElement('a', "next-right", "ion-arrow-right-b"));
			nextSubmit("next-right", startPage, endPage);
		}

		for (let i = startPage; i <= endPage; i++) {
			let page = document.createElement('a');
			if(currentPage == i){
				page.classList = 'active';
			}
			page.textContent = i;
			page.addEventListener('click', function(){
				nextPage = i;
				var maxPageItem = document.getElementById('max-page-item').value;
				getAPI("/MovieWebsite/api/movie/season/filter", nextPage, maxPageItem);
			});
			pages.appendChild(page);
		}
	}
	function newElement(tagName, id, className) { // create icon next
		let element = document.createElement(tagName);
		let icon = document.createElement('i');
		icon.className = className;
		element.setAttribute("id", id);
		element.appendChild(icon);
		return element;
	}

	function nextSubmit(id, startPage, endPage) {
		let next = document.getElementById(id);
		next.addEventListener('click', function(){
			var nextPage = (id === "next-left") ? (startPage - 1) : (endPage + 1);
			var maxPageItem = document.getElementById('max-page-item').value;
//			window.location.href = "/movie-list?nextPage=" + nextPage + "&maxPageItem=" + maxPageItem;
			getAPI("/MovieWebsite/api/movie/season/filter", nextPage, maxPageItem);
		})
	}
</script>

<script th:src="@{/template/js/jquery.js}"></script>
<script th:src="@{/template/js/plugins.js}"></script>
<script th:src="@{/template/js/plugins2.js}"></script>
<script th:inline="javascript" th:src="@{/template/js/custom.js}"></script>
</body>

<!-- movielist07:38-->
</html>