<!DOCTYPE html>
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/template/css/plugins.css}">
	<link rel="stylesheet" th:href="@{/template/css/main.css}">
	<link rel="stylesheet" th:href="@{/template/css/update.css}">
	<link rel="stylesheet" th:href="@{/template/css/loading.css}">
	<link rel="stylesheet" th:href="@{/template/css/changeAvatar.css}">
</head>
<body>
<!--preloading-->
<div th:replace="web/fragments/loader :: preloader"></div>
<!--end of preloading-->
<!-- loading page -->
<div th:replace="web/fragments/loader :: loading-page"></div>
<!-- end of loading page -->
<!-- sig in - up -->
<div th:replace="web/fragments/header :: sign-in-up"></div>
<!-- end sig in-up -->

<div th:replace="web/fragments/header :: cart-handle"></div>

<!-- change avatar form -->
<div class="overlay">
	<div class="login-wrapper openform">
		<div class="cf-avatar" id="cf-avatar-ct">
			<div class="box-header">
				<h3 class="box-title">Preview your new profile picture</h3>
			</div>
			<div class="avatar-crop-form">
				<div class="box-body">
					<img src="https://drive.google.com/file/d/1-294doQQIj-2qd5b5aGpJPPPVAhq4VZM/view" alt="">
				</div>
				<div class="box-footer">
					<button class="fetch-primary" onclick="caFetch();">Set new profile picture</button>
				</div>
			</div>
			<button class="close-box"><i class="fa fa-times" aria-hidden="true"></i></button>
		</div>
	</div>
</div>
<!-- end change avatar form -->


<!-- BEGIN | Header -->
<div th:replace="web/fragments/header :: header"></div>
<!-- END | Header -->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Edward kennedy’s profile</h1>
					<ul class="breadcumb">
						<li class="active"><a th:href="@{/home}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information" id="user-info">
					<div class="user-img">
						<a href="#" class="avatar"><img id="avatar-user" th:src="'https://drive.google.com/uc?export=view&id=' + ${USER_PROFILE.avatar}" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
						<div class="upload-image hide" id="upload-img">
							<label for="upload-button">Upload a photo</label>
							<input type="file" id="upload-button" accept="image/*">
						</div>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li class="active" data-target="info-section"><a data-value="profile">Profile</a></li>
							<li data-target="movie-section"><a data-value="favorite">Favorite movies</a></li>
							<li data-target="movie-section"><a data-value="paid">Paid movies</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Others</p>
						<ul>
							<li><a href="#">Change password</a></li>
							<li><a th:href="@{/logout}">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- info section -->
			<div th:replace="web/fragments/profile :: info"></div>
			<!-- end info section -->
			<!-- favorite movie  section -->
			<div th:replace="web/fragments/profile :: favorite-mv"></div>
			<!-- end favorite movie section -->
		</div>
	</div>
</div>
<!-- footer section-->
<div th:replace="web/fragments/footer :: footer"></div>
<!-- end of footer section-->



<th:block th:replace="web/fragments/header :: script"></th:block>
<script th:src="@{/template/js/profile.js}"></script>
<script th:inline="javascript">
	var updatingMsg = [[#{message.UI.value.null}]];
	async function caFetch(e) { // change Avatar fetch
		startAnimation();
		let fileFetch = document.getElementById('upload-button').files[0];
		let avatarCt = document.getElementById('avatar-user');
		let avatarIdOld = [[${USER_PROFILE.avatar}]];
		let formData = new FormData();
		formData.append("avatarNew", fileFetch);
		formData.append("avatarOld", avatarIdOld);
		var response = await fetch("/MovieWebsite/api/user/avatar", {
			method : 'POST',
			body : formData
		})
		var avatarIdNew = await response.text();
		avatarCt.setAttribute('src', "https://drive.google.com/uc?export=view&id=" + avatarIdNew);
		document.querySelector('#sm-profile img').setAttribute('src', "https://drive.google.com/uc?export=view&id=" + avatarIdNew);
		stopAnimation();
	}

	async function changeProfileHandle(){
		startAnimation();
		let profileForm = document.getElementById('changeProfile');
		let formData = new FormData(profileForm);
		formData.append("avatar", [[${USER_PROFILE.avatar}]]);
		var response = await fetch("/MovieWebsite/api/user", {
			method : 'PUT',
			body : JSON.stringify(Object.fromEntries(formData)),
			headers : {
				'Accept' : 'application/json',
				'Content-Type' : 'application/json'
			}
		});
		let message = await response.json();
		alert(message.content);
		stopAnimation();
	}

	async function changePasswordHandle(){
		startAnimation();
		let changePassForm = document.getElementById('changePassForm');
		let requestForm = document.forms.changePassForm;
		let changePassData = new FormData(requestForm);

		var request = await fetch("/MovieWebsite/api/registration/changePassword", {
			method : 'POST',
			body : JSON.stringify(Object.fromEntries(changePassData)),
			headers : {
			    'Accept': 'application/json',
				'Content-Type' : 'application/json'
			}
		}).then(response => {
			let messageDto = response.json();
			alert(messageDto.content);
		}).catch(error => {
			alert(error);
		});
		stopAnimation();
	}


	let userInfo = document.getElementById('user-info');
	let activesUser = userInfo.querySelectorAll('.user-fav ul li');
	activesUser.forEach(el => el.firstChild.addEventListener('click', function(e){relateContent(e);}));
	async function relateContent(e){
		let targetEl = e.target;
		var valueCheck = targetEl.dataset.value;
		for(let el of activesUser){
			if(el.className === "active") {
				el.classList = "";
				document.getElementById(el.dataset.target).style.display = "none";
				break;
			}
		}
		targetEl = upToParent(e.target, 'li');
		if(targetEl.dataset.target !== "info-section"){
			let urlTarget;
			if(valueCheck === 'favorite') urlTarget = "/MovieWebsite/api/user/favorite";
			else urlTarget = "/MovieWebsite/api/user/movie/paid";
			await getAPI(urlTarget, 1, 2, false);
		}
		targetEl.classList = "active";
		document.getElementById(targetEl.dataset.target).style.display = "block";
	}
	document.querySelector('#lower-bound .find-movie input').addEventListener('keydown', function(e){
		findByPage(e, "/MovieWebsite/api/user/favorite", false);
	});


</script>
</body>
</html>