<!DOCTYPE html>
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/template/css/plugins.css}">
	<link rel="stylesheet" th:href="@{/template/css/main.css}">
	<link rel="stylesheet" th:href="@{/template/css/update.css}">
	<link rel="stylesheet" th:href="@{/template/css/loading.css}">
	<link rel="stylesheet" th:href="@{/template/css/changeAvatar.css}">
</head>
<body>
<!--preloading-->
<div th:replace="web/fragments/loader :: preloader"></div>
<!--end of preloading-->
<!-- loading page -->
<div th:replace="web/fragments/loader :: loading-page"></div>
<!-- end of loading page -->
<!-- sig in - up -->
<div th:replace="web/fragments/header :: sign-in-up"></div>
<!-- end sig in-up -->

<div th:replace="web/fragments/header :: cart-handle"></div>

<!-- change avatar form -->
<div class="overlay">
	<div class="login-wrapper openform">
		<div class="cf-avatar" id="cf-avatar-ct">
			<div class="box-header">
				<h3 class="box-title">Preview your new profile picture</h3>
			</div>
			<div class="avatar-crop-form">
				<div class="box-body">
					<img src="https://drive.google.com/file/d/1-294doQQIj-2qd5b5aGpJPPPVAhq4VZM/view" alt="">
				</div>
				<div class="box-footer">
					<button class="fetch-primary" onclick="caFetch();">Set new profile picture</button>
				</div>
			</div>
			<button class="close-box"><i class="fa fa-times" aria-hidden="true"></i></button>
		</div>
	</div>
</div>
<!-- end change avatar form -->


<!-- BEGIN | Header -->
<div th:replace="web/fragments/header :: header"></div>
<!-- END | Header -->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Edward kennedy’s profile</h1>
					<ul class="breadcumb">
						<li class="active"><a th:href="@{/home}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#" class="avatar"><img id="avatar-user" th:src="'https://drive.google.com/uc?export=view&id=' + ${USER_PROFILE.avatar}" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
						<div class="upload-image hide" id="upload-img">
							<label for="upload-button">Upload a photo</label>
							<input type="file" id="upload-button" accept="image/*">
						</div>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li  class="active"><a th:href="@{/userprofile}">Profile</a></li>
							<li><a th:href="@{/userfavoritelist}">Favorite movies</a></li>
							<li><a th:href="@{/userrate}">Rated movies</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Others</p>
						<ul>
							<li><a href="#">Change password</a></li>
							<li><a th:href="@{/logout}">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro">
					<form class="user" id="changeProfile">
						<h4>01. Profile details</h4>
						<input type="hidden" name="id" th:value="${USER_PROFILE.id}">
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								<input type="text" name="username" th:value="${USER_PROFILE.username}" placeholder="cbtongtulenh4">
							</div>
							<div class="col-md-6 form-it">
								<label>Email Address</label>
								<input type="text" name="email" th:value="${USER_PROFILE.email}" placeholder="cbtongtulenh4@gmail.com">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Age</label>
								<input type="text" name="age" th:value="${USER_PROFILE.age}" placeholder="18+">
							</div>
							<div class="col-md-6 form-it">
								<label>Gender</label>
								<input type="text" name="gender" th:value="${USER_PROFILE.gender}" placeholder="Female">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Country</label>
								<select name="country" th:field="${USER_PROFILE.country}">
								  <option th:value="NewYork">NewYork</option>
								  <option th:value="saab">Others</option>
								</select>
							</div>
							<div class="col-md-6 form-it">
								<label>State</label>
								<select name="state" th:field="${USER_PROFILE.state}">
								  <option th:value="Free">Free</option>
								  <option th:value="saab">Others</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="button" onclick="changeProfileHandle();" value="save">
							</div>
						</div>	
					</form>
					<form id="changePassForm" class="password">
						<h4>02. Change password</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Old Password</label>
								<input type="text" name="passRaw" placeholder="**********" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input type="text" name="passNew" placeholder="***************" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input type="text" name="passConfirm" placeholder="***************" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" onclick="changePasswordHandle();" type="button" value="change">
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<div th:replace="web/fragments/footer :: footer"></div>
<!-- end of footer section-->



<th:block th:replace="web/fragments/header :: script"></th:block>
<script th:src="@{/template/js/profile.js}"></script>
<script th:src="@{/template/js/utils.js}"></script>
<script th:inline="javascript">
	console.log(JSON.stringify(sessionStorage.getItem('itemCart')));
	async function caFetch(e) { // change Avatar fetch
		startAnimation();
		let fileFetch = document.getElementById('upload-button').files[0];
		let avatarCt = document.getElementById('avatar-user');
		let avatarIdOld = [[${USER_PROFILE.avatar}]];
		let formData = new FormData();
		formData.append("avatarNew", fileFetch);
		formData.append("avatarOld", avatarIdOld);
		var response = await fetch("/MovieWebsite/api/user/avatar", {
			method : 'POST',
			body : formData
		})
		var avatarIdNew = await response.text();
		avatarCt.setAttribute('src', "https://drive.google.com/uc?export=view&id=" + avatarIdNew);
		document.querySelector('#sm-profile img').setAttribute('src', "https://drive.google.com/uc?export=view&id=" + avatarIdNew);
		stopAnimation();
	}

	async function changeProfileHandle(){
		startAnimation();
		let profileForm = document.getElementById('changeProfile');
		let formData = new FormData(profileForm);
		formData.append("avatar", [[${USER_PROFILE.avatar}]]);
		var response = await fetch("/MovieWebsite/api/user", {
			method : 'PUT',
			body : JSON.stringify(Object.fromEntries(formData)),
			headers : {
				'Accept' : 'application/json',
				'Content-Type' : 'application/json'
			}
		});
		let message = await response.json();
		alert(message.content);
		stopAnimation();
	}

	async function changePasswordHandle(){
		startAnimation();
		let changePassForm = document.getElementById('changePassForm');
		let requestForm = document.forms.changePassForm;
		let changePassData = new FormData(requestForm);

		var request = await fetch("/MovieWebsite/api/registration/changePassword", {
			method : 'POST',
			body : JSON.stringify(Object.fromEntries(changePassData)),
			headers : {
			    'Accept': 'application/json',
				'Content-Type' : 'application/json'
			}
		}).then(response => {
			let messageDto = response.json();
			alert(messageDto.content);
		}).catch(error => {
			alert(error);
		});
		stopAnimation();
	}
</script>

</body>
</html>