.topbar-filter .find-movie{
    display: flex;
    align-items: center;
    min-width: 150px;
}

.topbar-filter .find-movie input{
    position: relative;
    margin-left: 20px;
    width: 80px;
    padding-right: 25px;
    border: none;
    background: none;
}

.topbar-filter .find-movie .search-page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .find-movie .search-page i{
    position: absolute;
    right: 0;
} */

.find-movie .search-page .fa-search{
    position: absolute;
    right: 0;
    /* font-size: 20px; */
    cursor: pointer;
    margin: 5px;
    padding-left: 5px;
    border-left: 1px solid #405266;
}

.topbar-filter select{
    width: auto;
    /* display: flex; */
    min-width: 150px;
}

.topbar-filter .pagination2{
    min-width: 245px;
}

.navbar-nav.flex-child-menu .account{
    position: relative;
    width: 45px;
    height: 45px;
    margin: 10px 15px;
}

.navbar-nav.flex-child-menu .account .profile{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.navbar-nav.flex-child-menu .account .profile img{
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.navbar-nav.flex-child-menu .account .menu{
    position: absolute;
    width: 180px;
    padding: 5px 15px;
    right: 0;
    transform: translateY(10px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: .3s ease-in-out;
}

.navbar-nav.flex-child-menu .account .menu::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    transform: translateY(-10px) translateX(-15px) rotateZ(45deg);
    background-color: rgb(255, 255, 255);
}

.navbar-nav.flex-child-menu .account .menu h3{
    position: relative;
    padding: 5px 0px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.navbar-nav.flex-child-menu .account .menu ul{
    position: relative;
    margin: 0;
}

.navbar-nav.flex-child-menu .account .menu ul li{
    position: relative;
    list-style: none;
    padding: 5px;
}

.navbar-nav.flex-child-menu .account .menu ul li i{
    position: relative;
    margin-right: 10px;
}
