<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/template/css/update.css}">
    <script th:src="@{/template/js/update.js}"></script>
</head>
<body>

<div th:fragment="sign-in-up" th:remove="tag">
    <!--login form popup-->
    <div class="overlay" id="login-form">
    <div class="login-wrapper" id="login-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>Login</h3>
            <div th:replace="web/fragments/alert :: alert(${message})"></div>
            <form method="post" th:action="@{/handleLogin}" th:object="${userLogin}">
                <div class="row">
                    <label for="username">
                        Username:
                        <input type="text" th:name="username" id="username" placeholder="Hugh Jackman" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="password">
                        Password:
                        <input type="password" th:name="password" id="password" placeholder="******" required="required" />
                    </label>
                </div>
                <div class="row">
                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                        </div>
                        <a href="#">Forget password ?</a>
                    </div>
                </div>
                <div class="row">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="row">
                <p>Or via social</p>
                <div class="social-btn-2">
                    <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                    <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="overlay" id="signup-form">
    <div class="login-wrapper" id="signup-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <div th:replace="web/fragments/alert :: alert(${message})"></div>
            <form method="post" th:action="@{/registration}" th:object="${user}">
                <div class="row">
                    <label for="username-2">
                        Username:
                        <input type="text" th:name="username" id="username-2" placeholder="Hugh Jackman" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="email-2">
                        your email:
                        <input type="text"  th:name="email" id="email-2" placeholder="cbtongtulenhxxx@gmail.com" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" th:name="password" id="password-2" placeholder="********" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="repassword-2">
                        re-type Password:
                        <input type="password" th:name="matchingPassword" id="repassword-2" placeholder="********" required="required" />
                    </label>
                </div>
                <div class="row">
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <!--end of signup form popup-->
</div>


<header class="ht-header" th:fragment="header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index-2.html"><img class="logo" th:src="@{/template/img/logo1.png}" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
                            Home <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="index-2.html">Home 01</a></li>
                            <li><a href="homev2.html">Home 02</a></li>
                            <li><a href="homev3.html">Home 03</a></li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            movies<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Movie grid<i class="ion-ios-arrow-forward"></i></a>
                                <ul class="dropdown-menu level2">
                                    <li><a href="moviegrid.html">Movie grid</a></li>
                                    <li><a href="moviegridfw.html">movie grid full width</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/movie-list}">Movie list</a></li>
                            <li><a href="moviesingle.html">Movie single</a></li>
                            <li class="it-last"><a href="seriessingle.html">Series single</a></li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="celebritygrid01.html">celebrity grid 01</a></li>
                            <li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
                            <li><a href="celebritylist.html">celebrity list</a></li>
                            <li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            news <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a th:href="@{/blog-list}">blog List</a></li>
                            <li><a th:href="@{/blog-grid}">blog Grid</a></li>
                            <li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            community <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a th:href="@{/userfavoritegrid}">user favorite grid</a></li>
                            <li><a th:href="@{/userfavoritelist}">user favorite list</a></li>
                            <li><a th:href="@{/userprofile}">user profile</a></li>
                            <li class="it-last"><a th:href="@{/userrate}">user rate</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            pages <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a th:href="@{/landing}">Landing</a></li>
                            <li><a th:href="@{/404}">404 Page</a></li>
                            <li class="it-last"><a th:href="@{/comingsoon}">Coming soon</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Help</a></li>
                    <div th:if="${session.USER_MODEL}" th:remove="tag">
                        <li>
                            <div class="account" id="ic-account">
                                <div class="profile" id="sm-profile" onclick="smallProfile();">
                                    <img th:src="@{/template/img/uploads/girl.jpg}" alt="">
                                </div>
                                <div class="menu hide">
                                    <h3 th:text="${session.USER_MODEL.user.username}">XXX</h3>
                                    <ul>
                                        <li>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <a href="#">My Profile</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            <a th:href="@{/logout}">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div th:unless="${session.USER_MODEL}" th:remove="tag">
                        <li class="loginLink"><a href="#">LOG In</a></li>
                        <li class="btn signupLink"><a href="#">sign up</a></li>
                    </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <div class="top-search">
            <select>
                <option value="united">TV show</option>
                <option value="saab">Others</option>
            </select>
            <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
        </div>
    </div>
</header>
<th:block th:replace="script">
    <script th:src="@{/template/js/jquery.js}"></script>
    <script th:src="@{/template/js/plugins.js}"></script>
    <script th:src="@{/template/js/plugins2.js}"></script>
    <script th:inline="javascript" th:src="@{/template/js/custom.js}"></script>
    <script th:inline="javascript">
        if([[${message}]]){
            let message = [[${message}]];
            let loginForm = document.getElementById('login-form');
            let signupForm = document.getElementById('signup-form');
            if(message.target == 'login'){
                loginForm.classList.add('openform');
            }else{
                signupForm.classList.add('openform');
            }
            document.addEventListener('click', function hideForm(e){
                if(e.target.classList.contains('overlay')){
                    e.target.classList.remove('openform');
                    document.removeEventListener('click', hideForm);
                }
            });
        }
    </script>
</th:block>
</body>
</html>