<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
    <div id="preloader" th:fragment="preloader">
        <img class="logo" th:src="@{/template/img/logo1.png}" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="loading-page" th:fragment="loading-page" style="display: none;">
        <div class="ls-icon">
            <div class="nb-spinner"></div>
            <div class="animation" id="an-box">
            </div>
        </div>
    </div>
</body>
</html>