<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div class="col-md-9 col-sm-12 col-xs-12" id="info-section" th:fragment="info">
    <div class="form-style-1 user-pro">
        <form class="user" id="changeProfile">
            <h4>01. Profile details</h4>
            <input type="hidden" name="id" th:value="${USER_PROFILE.id}">
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>Username</label>
                    <input type="text" name="username" th:value="${USER_PROFILE.username}" placeholder="cbtongtulenh4">
                </div>
                <div class="col-md-6 form-it">
                    <label>Email Address</label>
                    <input type="text" name="email" th:value="${USER_PROFILE.email}" placeholder="cbtongtulenh4@gmail.com">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>Age</label>
                    <input type="text" name="age" th:value="${USER_PROFILE.age}" placeholder="18+">
                </div>
                <div class="col-md-6 form-it">
                    <label>Gender</label>
                    <input type="text" name="gender" th:value="${USER_PROFILE.gender}" placeholder="Female">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>Country</label>
                    <select name="country" th:field="${USER_PROFILE.country}">
                        <option th:value="NewYork">NewYork</option>
                        <option th:value="saab">Others</option>
                    </select>
                </div>
                <div class="col-md-6 form-it">
                    <label>State</label>
                    <select name="state" th:field="${USER_PROFILE.state}">
                        <option th:value="Free">Free</option>
                        <option th:value="saab">Others</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input class="submit" type="button" onclick="changeProfileHandle();" value="save">
                </div>
            </div>
        </form>
        <form id="changePassForm" class="password">
            <h4>02. Change password</h4>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>Old Password</label>
                    <input type="text" name="passRaw" placeholder="**********" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>New Password</label>
                    <input type="text" name="passNew" placeholder="***************" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>Confirm New Password</label>
                    <input type="text" name="passConfirm" placeholder="***************" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input class="submit" onclick="changePasswordHandle();" type="button" value="change">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-md-9 col-sm-12 col-xs-12" id="movie-section" th:fragment="favorite-mv" style="display:none;">
    <div class="topbar-filter user" id="topbar-sec">
        <p>Found <span id="am-movies-tt">0</span> movies in total</p>
        <label>Sort by:</label>
        <select id="field-sort">
            <option value="views-des">Popularity Descending</option>
            <option value="views-asc">Popularity Ascending</option>
            <option value="rating-des">Rating Descending</option>
            <option value="rating-asc">Rating Ascending</option>
        </select>Movies per page:
        <a href="userfavoritelist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
        <a  href="userfavoritegrid.html" class="grid"><i class="ion-grid "></i></a>
    </div>
    <div class="flex-wrap-movielist user-fav-list" id="season-list">
    </div>
    <div class="topbar-filter" id="lower-bound">
        <div class="find-movie" >
            <label>Movies per page:</label>
            <div class="search-page">
                <input type="number" placeholder="page">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <select id="max-page-item">
            <option selected value="2">2 Movies</option>
            <option value="5">5 Movies</option>
            <option value="10">10 Movies</option>
        </select>
        <div class="pagination2" style="display: flex;">
            <div id="page-info">Page 1 of <span class="maxPage">2</span>:</div>
            <div id="pagination" style="display: flex;">
                <div id="pages"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>